{
  "extends": [
    "airbnb-typescript",
    "plugin:react-hooks/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "react/prop-types": 0
  }
}
