:root {
  /* Dark */
  --background: #202020;
  --text-color: #d2d2d2;
  --paper-color: #424242;
  --paper-text-color: var(--text-color);
  --heart-icon: #ff3838;
  --table-header: #000;
  --button-icon: #000;
  --table-border: #e0e0e0;
  --input-disabled: rgba(255, 255, 255, 0.3);
  --accent-color-1: #3f51b5;
  --accent-color-2: #e91e63;

  /* Light */
  --background: #3f51b5;
  --text-color: #fff;
  --paper-color: #fff;
  --paper-text-color: #111;
  --heart-icon: #ff3838;
  --table-header: #757575;
  --button-icon: #757575;
  --table-border: #e0e0e0;
  --input-disabled: rgba(0, 0, 0, 0.26);
  --accent-color-1: #3f51b5;
  --accent-color-2: #e91e63;
}

body {
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body, html {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

[data-whatintent='mouse'] *:focus {
  outline: none;
}
